@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: black;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: -3px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo h1 b {
color: #37BF26;
}

.menu {
    height: 80px;
}

.menu nav {
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a {
    color: white;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #37BF26;
}

.menu nav ul li a img {
    display: none;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: white;
    border-radius: 100%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover {
    opacity: 0.8;
}

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

article{
   width: 100%; 
   padding: 20px;
   padding-bottom: 40px;
   box-shadow: -10px 0 20px -30px black;
   border-radius: 6px;
   overflow: hidden;
}

article h1 {
   margin-top: 50px; 
   font-weight: 400;
   font-size: 40px;
}

article p {
    margin-top: 20px;
    font-size: 21px;
    color: black;
}

@media screen and (max-width: 1220px) {
    .header-content, .container-content, .container-footer footer {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }
    
    .container-aside {
       margin-top: 100px;
       display: flex; 
       justify-content: center;
    }

    .container-aside {
        margin-top: -5px;
        margin-left: -40px;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
     }
}

@media screen and (max-width: 800px){
    
    .container-all {
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .move-container-all {
        transform: translateX(300px);
    }
    
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        color: white;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: black;
    }

    .menu nav ul li a img{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: aqua;
    }

    #icon-menu {
        display: flex;
    }

    .container-aside {
        flex-wrap: wrap;
    }

    .container-aside aside p {
        font-size: 18px;
    }
}